#registro{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
}
#consulta{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    margin-top: 10%;
}
#refrescar{
    margin-top: 2%;
}
#password{
    width: 85%;
    text-align: left;
}

.row{
    margin: 1.5%;
}
#cuentas{
    width: 50%;
    text-align: left;
}
#logo{
    width: 40%;
}

#transbank{
    width: 20%;
}
